@import "tailwindcss";

@theme:{
  --color-*: initial;
  --color-blue: #55D6C2;
}
/* Font Styles */
.sanchez-regular {
  font-family: "Sanchez", serif;
  font-weight: 400;
  font-style: normal;
}

.sanchez-regular-italic {
  font-family: "Sanchez", serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}
